.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    vertical-align: top;
    overflow: hidden;
}

.title_small{
  font-family: "calibri";
  font-size: 13px;
  line-height: 13px;
  color: "#555555";
  padding-left: 20px;
}

h1 {

  font-family: "calibri";
  font-size: 18px;
  line-height: 20px;
  color: "grey";

}

#title {
position: absolute;
top:5px;
margin: 0;
padding: 0;
left:20px;
height: auto;
font-family: "calibri";
font-size: 18px;
color: "#3d4849";
}
