.container {
  position: relative;
  text-align: center;
  margin-top: 5%;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.mainContainer {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: 5%;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: none;
}

.backSvg{
  position:absolute;
  top: -10;
  left: -10;

}


.topSvg{
  position:fixed;
  top: 30;
  left: 0;
}

.navbar{
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-color: magenta;
}

.pHolder{
  position: fixed;
  top: 45%;
  left: 25%;
  text-anchor: left;
  width:50%;
  background-color: black;
  border-style: solid;
  border: white;

}

.tempText{
  padding 30px;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  backround-color: none;
}

.aboutText{
  padding-left: 30px;
  padding-top: 30px;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  backround-color: none;
}

.contactHeader{
  padding-left: 30px;
  padding-top: 30px;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  backround-color: none;
}

.infoText{
  padding-left: 30px;
  padding-top: 10px;
  margin-right: 50%;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  backround-color: none;
}

.contactFormTemp{
  padding: 20px;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
}
.copyright{
  height: 10px;
  padding-left: 75%;
  margin-right: 5%;
  text-anchor: right;
  font-family: sans-serif;
  font-size: 8px;
  color: grey;
}

.formHolder{
  padding: 10%;
}

.submissionForm{
  margin:20px;
  padding: 20px;
}

.animation{
  display: inline-block;
  width: 100%;
  padding: 20px;
  text-align: center;
}


@keyframes rotating {
  from {

    transform: rotate(0deg);
  }
  to {

    transform: rotate(360deg);
  }
}

@keyframes rotatingCCW {
  from {

    transform: rotate(360deg);
  }
  to {

    transform: rotate(0deg);
  }
}

.smallerH2{
  font-size: 14;
}

.spinner {
    transform-origin: center;
  animation: rotating 50s linear infinite;
}

.topLink{
  color: white;
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;

}

.leftcolumn {
    float: left;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
}

.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}

.card {
   color: white;
    background-color: black;
    width: 300px;
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    max-height: 390px;
    height: 800;
    overflow: hidden;
  }

  .dataCard {
     color:black;
      padding: 20px;
      margin: 20px;
      height: 200;
      overflow: hidden;
      border-style: solid;
      border-width: 2px;
    }

.dataDetails{
  display: flex;
  flex-wrap: wrap;
  align-items: center;


}

.explanation{
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px
}

.card:hover{
  background-color: #111111;
  cursor:pointer;
}

.dataCard:hover{
  background-color: #ffffdf;
  cursor:pointer;
}



.cardImage{
    width: 100%;
    margin-top: 10;
    border-style: solid;
    border-color: black;
    border-width: thin;
  }

.cardText{
  font-size: 13;
}

  .row:after {
  content: "";
  display: table;
  clear: both;
}

.dataVizPage{
  margin: 10px;
  height: 200%;
  background-color: white;
}
