.container {
  position: relative;
  text-align: center;
  margin-top: 5%;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.mainContainer {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: 5%;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: none;
}

.backSvg{
  position:absolute;
  top: -10;
  left: -10;

}



.topSvg{
  position:fixed;
  top: 30;
  left: 0;
}

.navbar{
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-color: magenta;
}

.pHolder{
  position: fixed;
  top: 45%;
  left: 25%;
  text-anchor: left;
  width:50%;
  background-color: black;
  border-style: solid;
  border: white;

}

.tempText{
  padding: 30px;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  background-color: none;
}

.aboutText{
  padding-left: 30px;
  padding-top: 30px;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  background-color: none;
}

.contactHeader{
  padding-left: 30px;
  padding-top: 30px;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  background-color: none;
}

.infoText{
  padding-left: 30px;
  padding-top: 10px;
  margin-right: 50%;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  background-color: none;
}

.contactFormTemp{
  padding: 20px;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
}
.copyright{
  height: 10px;
  padding-left: 75%;
  margin-right: 5%;
  text-anchor: right;
  font-family: sans-serif;
  font-size: 8px;
  color: grey;
}

.formHolder{
  padding: 10%;
}

.submissionForm{
  margin:20px;
  padding: 20px;
}

.animation{
  display: inline-block;
  width: 100%;
  padding: 20px;
  text-align: center;
}


@keyframes rotating {
  from {

    transform: rotate(0deg);
  }
  to {

    transform: rotate(360deg);
  }
}

@keyframes rotatingCCW {
  from {

    transform: rotate(360deg);
  }
  to {

    transform: rotate(0deg);
  }
}

.smallerH2{
  font-size: 14;
}

.spinner {
    transform-origin: center;
  animation: rotating 50s linear infinite;
}

.topLink{
  color: white;
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}

/* artwork page */

.leftColumn{
  width: 120;
}
.card {
  width: 100;
   color: white;
    background-color: black;
    margin: 5px;
    padding: 3px;
    overflow: hidden;
  }

  .card-body{
    margin: 0;
    padding: 0;
  }

  .menuTitle{
max-width: 120;
font-size: small;
  }


.card:hover{
  background-color: #111111;
  cursor:pointer;
}

.card-text{
  font-size: 10;
  padding: 2px;
  margin-top: 1px;
}


.reload{
  color: white;
   background-color: black;
   margin: 5px;
   padding: 3px;
   font-size: small;


}

.refresh{
  color: white;
   background-color: black;
   margin: 5px;
   padding: 10px;
   font-size: small;

}

  .dataCard {
     color:black;
      padding: 20px;
      margin: 20px;
      height: 200;
      overflow: hidden;
      border-style: solid;
      border-width: 2px;
    }

.dataDetails{
  display: flex;
  flex-wrap: wrap;
  align-items: center;


}

.explanation{
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px
}


.dataCard:hover{
  background-color: #ffffdf;
  cursor:pointer;
}





  .row:after {
  content: "";
  display: table;
  clear: both;
}

.dataVizPage{
  margin: 10px;
  height: 200%;
  background-color: white;
}
