#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0.9;
  font-family: "calibri";
  font-size: 16px;
  line-height: 20px;

}

#datalink{
  font-family: "calibri";
  font-size: 10px;
  line-height: 20px;
  color: "grey";
}

#update{
  font-family: "calibri";
  font-size: 10px;
  line-height: 20px;
  color: "grey";
}

#title {
position: absolute;
top:5px;
margin: 0;
padding: 0;
left:20px;
height: auto;
font-family: "calibri";
font-size: 18px;
color: "#3d4849";
}

#tooltip.hidden {
  display: none;
}

#value1  {
  margin: 0;
  font-family: "calibri";
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
