body{
  background-color: black;
}

.container {

  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

#svgC {
   position: fixed;
   top: 0;
   left: 0;
}

.triangle{
  stroke: black;
  stroke-width: 2;
  stroke-opacity: 100%;
}

#image{
  box-sizing: border-box;
  border: 1px solid black;
  filter:contrast(200%)
  
}


